# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/

# Environment
.env
*.env

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Archives
*.zip
*.tar.gz
*.tgz

# IDE settings
.vscode/
.idea/

# Local Netlify folder
.netlify
